n8n-workflows/DimiCobrança.json
{
  "name": "DimiCobrança",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "43323be7-d463-4d7d-8d6f-b76e305e3ab7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Configurações\nconst DIAS_GRATIS = 7;\nconst COLUNA_DATA = 'data_cadastro'; // Nome exato da coluna na planilha\nconst STATUS_ALVO = 'trial_ativo'; // Só processa quem tiver esse status\n\nconst resultados = [];\nconst agora = new Date();\n\nfor (const item of items) {\n  const usuario = item.json;\n\n  // 1. Filtros de Segurança\n  if (!usuario[COLUNA_DATA]) continue; // Pula se não tiver data\n  // Se quiser testar forçando, comente a linha abaixo:\n  if (usuario.status_assinatura !== STATUS_ALVO) continue; \n\n  // 2. O TRUQUE: Converter DD-MM-YYYY para Data Real\n  // Quebra \"15-01-2026\" em pedaços\n  const partes = usuario[COLUNA_DATA].split('-'); \n  // Cria a data: Ano, Mês (começa em 0), Dia\n  const dataCadastro = new Date(partes[2], partes[1] - 1, partes[0]);\n\n  // 3. Cálculo Matemático\n  const diferencaTempo = agora - dataCadastro;\n  const diasCorridos = Math.ceil(diferencaTempo / (1000 * 60 * 60 * 24));\n\n  // 4. Decisão: Passou do prazo?\n  if (diasCorridos > DIAS_GRATIS) {\n    resultados.push({\n      json: {\n        whatsapp_id: usuario.whatsapp_id,\n        nome: usuario.nome,\n        dias_uso: diasCorridos,\n        novo_status: \"BLOQUEADO\"\n      }\n    });\n  }\n}\n\nreturn resultados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "3378534a-12b9-48d1-a370-9762a28a7805",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UBltLzJKPeUGWJ_L_l0wA-oHkIbkVCakEbd0-Y0BaXM",
          "mode": "list",
          "cachedResultName": "Dimi_MVP_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UBltLzJKPeUGWJ_L_l0wA-oHkIbkVCakEbd0-Y0BaXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UBltLzJKPeUGWJ_L_l0wA-oHkIbkVCakEbd0-Y0BaXM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status_assinatura",
              "lookupValue": "trial_ativo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "7e349b40-5f75-41f7-a703-dd89e051f6f6",
      "name": "Dados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XZ2VYaI302wicrYL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Dimi",
        "remoteJid": "={{ $('Dados').item.json.whatsapp_id }}",
        "messageText": "=*Seu Período Grátis Acabou!*\n\nEi {{ $('Dados').item.json.nome }}, espero que eu tenha te ajudado nesses 7 dias!\n\nPara continuar organizando sua vida, você precisa ativar o plano **Premium**.\n\nCusta menos que um cafezinho!\n*Link de Pagamento:* [SEU_LINK_AQUI]\n\nSe tiver dúvidas, é só chamar!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "897acd58-2530-4c67-a400-809cdf13abdf",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "ZaUgpg5vMAVfzHnW",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UBltLzJKPeUGWJ_L_l0wA-oHkIbkVCakEbd0-Y0BaXM",
          "mode": "list",
          "cachedResultName": "Dimi_MVP_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UBltLzJKPeUGWJ_L_l0wA-oHkIbkVCakEbd0-Y0BaXM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UBltLzJKPeUGWJ_L_l0wA-oHkIbkVCakEbd0-Y0BaXM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "whatsapp_id": "={{ $('Dados').item.json.whatsapp_id }}",
            "status_assinatura": "bloqueado"
          },
          "matchingColumns": [
            "whatsapp_id"
          ],
          "schema": [
            {
              "id": "whatsapp_id",
              "displayName": "whatsapp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "senha",
              "displayName": "senha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_assinatura",
              "displayName": "status_assinatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_ultima_notificacao",
              "displayName": "id_ultima_notificacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "5a046f8b-904a-4b5a-a325-9ccdd955ad78",
      "name": "atualiza_plano",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XZ2VYaI302wicrYL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "atualiza_plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_plano": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "21f3f5c2-39b5-4e32-b60e-7e56371e7134",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ecacd7c0e2cc43ed1297c4f6c5a3a71082a877830167910132a526dbd30d990"
  },
  "id": "Xv8QSQWmBvTTQBHLpsI3d",
  "tags": []
}