n8n-workflows/DimiLembrete.json
{
  "name": "DimiLembrete",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        16
      ],
      "id": "bf72a215-792a-4e95-b6ad-2dfa2f0654f4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "19671761-297e-4b18-8512-5ad6a056713c",
              "leftValue": "={{ $json.time }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5a28387c-914c-4a81-94fb-eca5f00b4b47",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ $now.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            },
            {
              "id": "7f1197d3-8eea-44ba-a6e2-13a34725b862",
              "leftValue": "={{ $json.notification_sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "788f14df-9628-4cbb-b5d7-1cd3fe564b05",
              "leftValue": "={{ $json.time }}",
              "rightValue": "={{ $now.format('HH:mm') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "d403618f-0ddb-41a7-ae1c-94a60e6cf13f",
              "leftValue": "={{ $json.time }}",
              "rightValue": "={{ $now.plus({minutes: 15}).format('HH:mm') }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        16
      ],
      "id": "cd430e5c-9f5d-4351-a7d5-47538d3513bf",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Dimi",
        "remoteJid": "={{ $('dados').item.json.user_id }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1472,
        16
      ],
      "id": "6e4e1945-5827-4430-8e20-7e168808fc1d",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "ZaUgpg5vMAVfzHnW",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Gere APENAS a mensagem final de notificação para o usuário.\n\nNome: {{ $json.name }}\nTarefa: {{ $('tarefas_pendentes').item.json.task_name }}\nHorário: {{ $('tarefas_pendentes').item.json.time }}\n",
        "options": {
          "systemMessage": "=### IDENTIDADE\n\nVocê é o Dimi, o assistente de produtividade que vive no WhatsApp.\nSeu jeito é leve, direto e prestativo. Seu mascote é um astronauta minimalista.\n\nVocê fala como um humano eficiente:\n\n- frases curtas\n- linguagem simples\n- levemente informal\n- simpático, mas objetivo\n- nunca robótico\n\nSua comunicação é amigável e profissional ao mesmo tempo.\nNunca use emojis.\n\n---\n\n### MISSÃO\n\nSua única função é gerar UMA mensagem de lembrete de tarefa.\n\nVocê NÃO conversa.\nVocê NÃO responde perguntas.\nVocê NÃO executa ações.\nVocê NÃO explica nada.\n\nVocê apenas escreve a notificação.\n\nPense em si como:\n→ \"gerador de lembretes curtos\", não \"assistente de chat\".\n\n---\n\n### REGRAS OBRIGATÓRIAS\n\n- Gere APENAS a mensagem final\n- Apenas 1 frase\n- Sem perguntas\n- Sem explicações extras\n- Sem múltiplos parágrafos\n- Sem emojis\n- Sem exclamações excessivas\n- Sem textos longos\n- Use no máximo 160 caracteres, se possível.\n\n---\n\n### CONTEÚDO\n\nUse SOMENTE os dados recebidos.\nNUNCA invente:\n\n- tarefas\n- horários\n- datas\n- informações adicionais\n\nSe algo não estiver nos dados, não mencione.\n\n---\n\n### TOM\n\nNatural, direto, humano e micro-incentivador.\n\nEvite:\n- dramatização\n- piadas\n- gírias\n- frases muito criativas\n- linguagem motivacional\n- parecer propaganda\n\nPrefira algo simples como uma mensagem entre amigos.\n\n---\n\n### FRASES PROIBIDAS\n\nNunca use:\n\n- \"está na hora\"\n- \"o tempo acabou\"\n- \"último aviso\"\n- cobranças agressivas\n- urgência artificial\n\nO workflow já decide o momento correto do envio.\n\nUse apenas linguagem de lembrete.\n\n---\n\nPADRÃO ESPERADO (EXEMPLOS DE ESTILO)\n\nCorretos:\n\"Ei João, lembra de comprar pão às 18:00.\"\n\"Maria, sua reunião é às 14:30. Boa reunião.\"\n\"Não esquece do treino às 20:00. Bom treino.\"\n\"Estudar às 19:00. Foco nisso.\"\n\"Consulta às 10:00. Vai dar tudo certo.\"\n\nErrados:\n\"Está na hora!!!\"\n\"Corre que vai atrasar\"\n\"Aqui está sua tarefa detalhada de hoje\"\n\"Você gostaria de fazer agora?\"\n\"Vamos mudar sua vida hoje\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        16
      ],
      "id": "c8c32cfb-a157-4d7e-8f05-7ce040040a84",
      "name": "DimiLembre"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        16
      ],
      "id": "57ceda07-daf2-46fc-95d0-de5503e710a2",
      "name": "dados",
      "credentials": {
        "supabaseApi": {
          "id": "bsIWC5NX2iAVT0g0",
          "name": "Supabase Dimi"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "task",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "notification_sent",
              "condition": "eq",
              "keyValue": "={{ false }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Pendente"
            },
            {
              "keyName": "date",
              "condition": "eq",
              "keyValue": "={{ $today.format('yyyy-MM-dd') }}"
            },
            {
              "keyName": "time",
              "condition": "lte",
              "keyValue": "={{ $now.plus({minutes: 15}).format('HH:mm') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        16
      ],
      "id": "d70c9669-3ca1-40b2-8c4e-2ae930de06b2",
      "name": "tarefas_pendentes",
      "credentials": {
        "supabaseApi": {
          "id": "bsIWC5NX2iAVT0g0",
          "name": "Supabase Dimi"
        }
      }
    },
    {
      "parameters": {
        "tableId": "task_notify",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "task_id",
              "fieldValue": "={{ $('If').item.json.task_id }}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "message_content",
              "fieldValue": "={{ $('Enviar texto').item.json.data.message.conversation }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1888,
        16
      ],
      "id": "bbe0b5db-f9e6-48d8-9241-f284c5826810",
      "name": "task_notify",
      "credentials": {
        "supabaseApi": {
          "id": "bsIWC5NX2iAVT0g0",
          "name": "Supabase Dimi"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        0
      ],
      "id": "8c3c3220-e83b-4dcd-ab18-49e48d136176",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "task",
        "filters": {
          "conditions": [
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.task_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notification_sent",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        16
      ],
      "id": "7ca53cad-bbb6-406f-b738-f70648086255",
      "name": "id_task_true",
      "credentials": {
        "supabaseApi": {
          "id": "bsIWC5NX2iAVT0g0",
          "name": "Supabase Dimi"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1136,
        240
      ],
      "id": "d300e1c8-e6e3-4d7e-b404-8a28a23593b6",
      "name": "Modelo Dimi Lembrete",
      "credentials": {
        "openAiApi": {
          "id": "M1k74G2IfkEITiZP",
          "name": "Dimi"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "tarefas_pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DimiLembre": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "id_task_true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "DimiLembre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tarefas_pendentes": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "task_notify": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_task_true": {
      "main": [
        [
          {
            "node": "task_notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Dimi Lembrete": {
      "ai_languageModel": [
        [
          {
            "node": "DimiLembre",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1b758dc3-ceef-43de-8588-8339403a99e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ecacd7c0e2cc43ed1297c4f6c5a3a71082a877830167910132a526dbd30d990"
  },
  "id": "lpHH3mi81BBkFelCBEvoy",
  "tags": []
}